
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 50px;

    background-image: url("https://media.mktg.workday.com/is/image/workday/illustration-group-people-10?fmt=png-alpha&wid=1000");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 500px;
  }